<div class={{this.styleNamespace}}>
  <MovieListHeader />

  <MovieListSearchInput />

  <MovieList
    @movies={{this.movies}}
    @handleAddMovieClick={{this.openAddMovieForm}}
    @handleEditMovieClick={{this.openEditMovieForm}}
  />

  <Modal @isOpen={{this.movieFormStatus}} @close={{this.closeMovieForm}}>
    <MovieForm
      @loadMovies={{this.loadMovies}}
      @status={{this.movieFormStatus}}
      @activeMovie={{this.activeMovie}}
    />
  </Modal>
</div>