<form class={{this.styleNamespace}} {{on "submit" this.addMovie}}>
  <label data-test-title-label>
    <h2>
      Title
    </h2>
    <Input
      @type="text"
      @value={{this.title}}
      class="form-title"
      placeholder="Title..."
    />
  </label>

  <label data-test-description-label>
    <h2>
      Description
    </h2>
    <Input
      @type="text"
      @value={{this.description}}
      class="form-description"
      placeholder="Description..."
      required={{true}}
    />
  </label>

  {{#if this.errorMessage}}
    <div class="error-message">
      {{this.errorMessage}}
    </div>
  {{/if}}

  <button type="submit">
    Add Movie
  </button>
</form>